<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" >
    
	<context-param>
    	<param-name>contextConfigLocation</param-name>
    	<param-value>classpath:restaurantsearch.xml</param-value>
	</context-param>
	<listener>
	    <listener-class>
	        org.springframework.web.context.ContextLoaderListener
	    </listener-class>       
	</listener>
	<!-- Add SprintMVC servlet -->
	<servlet>
	    <servlet-name>restaurant</servlet-name>
	    <servlet-class>
	        org.springframework.web.servlet.DispatcherServlet
	    </servlet-class>
	    <load-on-startup>2</load-on-startup>
	</servlet>
	<!-- Add servlet mapping -->
	<servlet-mapping>
	    <servlet-name>restaurant</servlet-name>
	    <url-pattern>*.html</url-pattern>
	</servlet-mapping>

    
  
  
</web-app>